<h1>Editing drive_fixed</h1>

<% form_for(@drive_fixed) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </p>
  <p>
    <%= f.label :account_id %><br />
    <%= f.text_field :account_id %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :day_limit %><br />
    <%= f.text_field :day_limit %>
  </p>
  <p>
    <%= f.label :date_limit %><br />
    <%= f.date_select :date_limit %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @drive_fixed %> |
<%= link_to 'Back', drive_fixeds_path %>
