<h1>New driver</h1>

<% form_for(@driver) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :driver_fixed_id %><br />
    <%= f.text_field :driver_fixed_id %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :entry %><br />
    <%= f.check_box :entry %>
  </p>
  <p>
    <%= f.label :account_id %><br />
    <%= f.text_field :account_id %>
  </p>
  <p>
    <%= f.label :date_driver %><br />
    <%= f.date_select :date_driver %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', drivers_path %>
