<p>
  <b>Driver fixed:</b>
  <%=h @driver.driver_fixed_id %>
</p>

<p>
  <b>Value:</b>
  <%=h @driver.value %>
</p>

<p>
  <b>Entry:</b>
  <%=h @driver.entry %>
</p>

<p>
  <b>Account:</b>
  <%=h @driver.account_id %>
</p>

<p>
  <b>Date driver:</b>
  <%=h @driver.date_driver %>
</p>

<p>
  <b>Category:</b>
  <%=h @driver.category_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @driver.title %>
</p>


<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
